.signup {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  max-width: 324px;
  height: 500px;
  margin: 50px auto 20px auto;
  padding: 30px 25px;
  box-shadow:
    0px 0.6087964177131653px 2.9332919120788574px 0px rgba(0, 0, 0, 0.02),
    0px 1.4630224704742432px 7.049108028411865px 0px rgba(0, 0, 0, 0.03),
    0px 2.7547414302825928px 13.272845268249512px 0px rgba(0, 0, 0, 0.04),
    0px 4.91398811340332px 23.67648696899414px 0px rgba(0, 0, 0, 0.04),
    0px 9.19107437133789px 44.28426742553711px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);
  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    &_label {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    &_input {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: black;
      border: 1px solid rgba(191, 191, 191, 1);
      border-radius: 5px;
      padding: 5px 0 5px 10px;
      margin-bottom: 25px;
      &::placeholder {
        color: rgba(191, 191, 191, 1);
      }
    }
    &_button {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 5px 0;
      color: #ffffff;
      background-color: rgba(24, 144, 255, 1);
      border-radius: 5px;
      margin-bottom: 8px;
    }
    &_text {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(140, 140, 140, 1);
      margin: 0 auto;
      &_link {
        color: rgba(24, 144, 255, 1);
      }
    }
    &_agreement {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      &_checkbox {
        margin-right: 5px;
      }
      &_descr {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: rgba(89, 89, 89, 1);
      }
    }
  }
}
.error__input {
  border: 1px solid red;
}
.error__input_checkbox {
  height: 18px;
  border: 1px solid red;
  border-radius: 5px;
  z-index: 2;
  :hover {
    outline: 1px solid red;
    transition: outline 0.2s linear;
  }
}
.error__message {
  margin: -25px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: red;
}
